h1{
    text-align:center;
    margin-top: 20px;
    font-size: 20px;
    color: firebrick;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
}
p{
    text-align: center;
    font-size: 15px;
    color: black;
    margin-top: 10px;   
}
video{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 10px;
}
.two{
    height: 350px;
    width: 560px;
    margin: 20px;
}
.three{
    height: 350px;
    width: 560px;
    margin: 20px;
}
.four{
height: 350px;
width: 560px;
margin: 20px;
}