nav ul li {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin-right: 15px;
    font-size: 23px;
    font-weight: 35px;
    color: rgb(2, 8, 19);
    background-color: tomato;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid black;
    border-radius: 7px;
}